<h1 mat-dialog-title>Confirmación</h1>
<div mat-dialog-content>
  <mat-form-field appearance="standard">
    <mat-label><strong>ID Referencia</strong></mat-label>
    <input type="number" matInput #idRef>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label><strong>Comentarios</strong></mat-label>
    <textarea matInput maxlength="4000" #comentario ></textarea>
    <mat-hint align="end">{{comentario.value.length}} / 4000</mat-hint>
  </mat-form-field>

  <div *ngIf='showSpinnerSave' class="card-header">
    <mat-spinner></mat-spinner>
  </div>

  <p *ngIf='!showSpinnerSave'> <strong>{{respuestaSave}}</strong> </p>

</div>
<div mat-dialog-actions>
  <button class="btn btn-primary-one btn-round" (click)="onNoClick()">cerrar</button>
  &nbsp;&nbsp;&nbsp;
  <button *ngIf='actualizarButtom' class="btn btn-primary-one btn-round" (click)="updateEstatusRIL5(idRef.value, comentario.value)" cdkFocusInitial>Aceptar</button>
</div>